logs/*
plots/*

experiments/high/*
experiments/low/*
experiments/mid/*
experiments/high-tmp/*
experiments/lymphoma/*
experiments/prostate/*
experiments/old/*
experiments/*csv

data/*csv
data/*txt

.ipynb_checkpoints/*

Junk.ipynb
Analysis.ipynb
SubsetSelection.ipynb